.category-container {
    .title {
        text-align: center;
        margin-bottom: 25px;
    }
    .category-items-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 20px;
        row-gap: 50px;
    }
}
